<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead [className]="classHeader">
            <tr>
                <th scope="col" *ngFor="let column of columnsHeader">
                    {{ column.columnLabel }}
                    <div *ngIf="column.filterOptions">
                        <input *ngIf="column.filterOptions.type === 1" class="form-control" type="number"
                            [name]="column.columnName" (keyup)="filterByInput($event, column.filterOptions.maxlength)">
                        <select *ngIf="column.filterOptions.type === 2" [name]="column.columnName" class="form-control"
                            (change)="filterBySelect($event)">
                            <option *ngFor="let option of column.filterOptions.options" [value]="option.id">
                                {{ option.label }}
                            </option>
                        </select>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let column of columnsHeader">
                    <span *ngIf="isBooleanType(row[column.columnName]); else notBoolean">
                        {{ row[column.columnName] ? 'Yes' : 'No'}}
                    </span>
                    <ng-template #notBoolean>
                        {{ row[column.columnName] }}
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>