<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 border shadow bg-body-tertiary rounded p-3 mb-3 mt-3">
            <app-year-multipe-winner></app-year-multipe-winner>
        </div>
        <div class="col-md-6 border shadow bg-body-tertiary rounded p-3 mb-3 mt-3">
            <app-top-three-studios-winner></app-top-three-studios-winner>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border shadow bg-body-tertiary rounded p-3 mb-3 mt-3">
            <app-interval-producers></app-interval-producers>
        </div>
        <div class="col-md-6 border shadow bg-body-tertiary rounded p-3 mb-3 mt-3">
            <app-list-movie-by-year></app-list-movie-by-year>
        </div>
    </div>
</div>